@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #fbfbfb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #202020;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes draw-circle {
  0% {
    stroke-dashoffset: 400;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

.animate-scribble {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw-circle 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards 0.5s;
}
